body{
    
    
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    
}
.card{
    padding: 20px;
    background-color: white;
    width:560px;
    margin-bottom: -6px;
    box-shadow: 0 0 15px 5px rgba(75, 87, 75, 0.09);
    border-radius: 6px;
}

.title{
    text-align: center;
    padding: 0px 0px 15px 0px;
}

h3{
    color: rgba(69, 177, 69, 0.826);
    font-family: sans-serif;
    font-weight: 560;
}
hr{
    
    color: #c2c1c3;
    width: 100%;
}

.content{
    font-size: 30px;
    padding: 12px 0px 12px;
    text-align: center;
}
 h5{
    color: #5879ce;
    font-family: poppins;
    font-weight: 690;

}

.footer{
    text-align: center;
    padding: 8px 0px 0px;
   
}

.classes{
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer h6{
    font-weight: 700;
    font-family: poppins;
    font-size: 20px;
    color: rgb(31, 172, 227);
}


